.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr 20fr;
}

.loading {
  grid-column: 2/3;  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--orange);
}

@media screen and (max-width: 900px) {
  .App {    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20fr;
  }
}