:root {  
  --font-roboto: 'Roboto';
  --darkblue: #0e1521;
  --midblue: #151e2b;
  --lightblue: #2c323e;
  --orange: #f74a24;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  scroll-behavior: smooth;
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  background-color: var(--darkblue);
}